version: '3.8'

services:
  db:
    image: postgres:12
    container_name: dev_project-better_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - type: volume
        source: db-data
        target: /var/lib/postgres/data
    ports:
      - '5432:5432'

volumes:
  db-data:
    name: project-better_db-data
